head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title=  title+""
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(','))
  meta(name="description", content=pkg.description)
  
  link(href="/img/favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(rel="stylesheet", href="/css/bootstrap.css")
  link(rel="stylesheet", href="/css/font-awesome.min.css")
  link(rel="stylesheet", href="/css/common.css")
  link(rel="stylesheet", href="/css/layout.css")
  <!--[if IE]>
  script(src="/js/html5.js").
  <![endif]-->
  block style

