.lessonInfo-left-container-teacher .rest{
	padding:0;
	margin:0;
}
.bind-img-list p{
	height: 32px;
	background-color: #f1f1f1;
	line-height: 32px;
	text-indent: 14px;
}
p.line{
	border-top: 1px solid #e5e5e5;
}
.bind-img-list .subject{
	border-bottom: 1px dashed #f1f1f1;
	height:26px;
	line-height: 26px;
	padding-top:15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.bind-img-list .subject span{
	border:1px solid #e5e5e5;
	color:#525252;
	margin-left: 5px;
	cursor: pointer;
	width:40px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	display: block;
	float: left;
}
.bind-img-list .subject span.cur{
	background-color: #7FAF1B;
	border-color:#7FAF1B;
	color:#fff;
}
.bind-img-list .subject span#right{
	float:right;
}
.bind-img-list .subject-checked{
	min-height: 84px;
	margin-left:5px;
	overflow: hidden;
}
.bind-img-list .subject-checked .pic span{
	display: none;
}
.dashedline{
	border-bottom: 1px dashed #f1f1f1;
}
.bind-img-list #submit{
  width: 120px;
  height: 38px;
  line-height: 38px;
  cursor:pointer;
  background: url("/img/Buttons.png") 0px -38px no-repeat scroll;
  color:#fff;
  margin-left: 520px;
}
.bind-img-list .tips{
	width: 120px;
	height: 16px;
	line-height: 16px;
	margin-top: 10px;
	color: #e05e00;
	font-size: 12px;
}
.bind-img-list #submit:hover{
  background: url("../img/Buttons.png") -130px -38px no-repeat scroll;
}
.bind-img-list #checked .pic{
   margin-left: -10px;
}
.bind-img-list .subject-checked .pic{
	width:40px;
	height:40px;
	margin-bottom: 4px;
	cursor: pointer;
	margin-right:13px;
	margin-bottom: 5px;
}
.bind-img-list .subject-checked .clicked{
	border-bottom: 2px solid #7FAF1B;
	height: 38px;
}
.bind-img-list .subject-checked .default{
	display: block;
}
.bind-img-list .subject-checked .line{
	background-image: url("/img/ImgGraph.png");
	background-position:0px 0px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .e-square{
	background: transparent url("/img/ImgGraph.png") 0px -54px scroll no-repeat;
}
.bind-img-list .subject-checked .e-round{
	background: transparent url("/img/ImgGraph.png") 0px -108px scroll no-repeat;
}
.bind-img-list .subject-checked .s-square{
	background: transparent url("/img/ImgGraph.png") 0px -162px scroll no-repeat;
}
.bind-img-list .subject-checked .s-round{
	background: transparent url("/img/ImgGraph.png") 0px -216px scroll no-repeat;
}
.bind-img-list .subject-checked .coord{
	background:url("/img/ImgGraph.png");
	background-position:  0px -268px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .parabola-up{
	background:url("/img/ImgGraph.png");
	background-position:  0px -321px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .parabola-down{
	background:url("/img/ImgGraph.png");
	background-position:  0px -373px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .triangle{
	background:url("/img/ImgGraph.png");
	background-position:  0px -422px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .triangle-solid{
	background:url("/img/ImgGraph.png");
	background-position:  0px -474px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .parallelogram{
	background:url("/img/ImgGraph.png");
	background-position:  0px -525px;
	background-repeat: no-repeat;
}

.bind-img-list .subject-checked .parallelogram-solid{
	background:url("/img/ImgGraph.png");
	background-position:  0px -577px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .trapezoid{
	background:url("/img/ImgGraph.png");
	background-position:  0px -628px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .trapezoid-solid{
	background:url("/img/ImgGraph.png");
	background-position:  0px -681px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-bulb{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -54px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .graph-phy-resistance{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -270px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .graph-phy-slide-rheostat{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -320px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-cell{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -371px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-amperemeter{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -108px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-voltmeter{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -162px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-empty{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -215px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-switch{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -422px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-bell{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -473px;
	background-repeat: no-repeat;
}

.bind-img-list  .subject-checked .graph-phy-motor{
	background:url("/img/ImgGraph.png");
	background-position:  -40px 0px;
	background-repeat: no-repeat;
}
.bind-img-list  .subject-checked .graph-dash-line{
	background:url("/img/ImgGraph.png");
	background-position:  -40px -525px;
	background-repeat: no-repeat;
}
.bind-img-list .subject-checked .clicked{
	background-color: #f1f1f1;
}
.bind-img-list .subject-checked .select{
	float: left;
}
.bind-img-list .subject-checked .pic{
	float: left;
}
.none{
	display: none;
}
.bind-img-list .subject-checked .not-click{
	cursor: auto;
	display: none;
}
.bind-img-list .subject-checked .not-click span{
	display: none;
}
#count{
	padding-left:500px;
}

.lessonInfo-container .lessonInfo-left .graphinfo-left-container-teacher{
	margin-top: 100px;
}

.lessonInfo-left-container-teacher .pad-top{
	margin-top:0; 
}
.show-bind-material-bottom{
  	text-align:center;
  	padding-top:20px;
  	border-top: 1px solid #e5e5e5;
}
.bind-img-list .subject-checked .selected{
	background-color: #f1f1f1;
	border-bottom: 2px solid #7FAF1B;
	height: 38px;
}
