doctype 5
html
  head
    title= title
    meta(charset='uft-8')
    meta(name="viewport",content="width=321,user-scalable=no").
    meta(name="apple-mobile-web-app-capable",content="yes").
    meta(name="full-screen",content="yes").
    meta(name="screen-orientation",content="portrait").
    meta(name="x5-fullscreen",content="true").
    meta(name="360-fullscreen",content="true").
    link(rel="stylesheet", href="/css/game.css").
    link(rel="icon",type="image/GIF",href="/img/favicon.ico").
  body(style="padding:0; margin: 0; ")
    div#gameCanvas(width="321",height="480") aaaaaaaaaaaa
    input#hiden-value(type='hidden', value=csrf_token, name='_csrf')
  script(src='/js/jquery.js').
  script(src='/js/game.js').